body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.page{
    width: 500px;
    height: 600px;
    background-image: url(backgroundpic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid rgb(58, 7, 92);
    padding:20px;
    box-sizing:border-box;
    background-clip: padding-box;
    position: relative;
       
}

.insights{
   color: rgb(86, 6, 100);
    font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
}
.hr{
    color: white;
    width: 120px;
    right: 200%;
    

}
.title{
    color: #100303ff;
    font-size: 45px;
     margin: 13px 0 15px 0;
    
   font-weight: bold;
    text-align: center;
    
}
.subtitle{
    color: rgb(5, 43, 36);
    font-size: 18px;
    margin-bottom: 40px;
}
.edit{
    color: rgb(61, 57, 7);
    font-size: 18px;
    font-weight: bold;
    margin-top: 200px;
}
.name{
    color: #330d3bff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
   
}
.bottom{
    color: rgb(97, 6, 26);
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-weight: bold;
}
.pic{
    position: absolute;
    bottom:90px;
    left: 75%;
    width: 100px;
    height:100px;
    background: url(mypic.png) no-repeat;
    background-size: 80px;

}